*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(87, 85, 85);
}


button {
    width: 10%;
    height: 20px;
    background-color: crimson;
    color: white;
    margin: 15px;
}